html, body {
  scroll-behavior: smooth !important;
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden !important;
}

.border-primary {
  border-color: #0056A6 !important;
}

.border-secondary {
  border-color: #0056A6 !important;
}

.bg-primary {
  background: #0056A6 !important;
}

.bg-secondary {
  background: #9B9B9B !important;
}

.text-primary {
  color: #0056A6 !important;
}

.text-secondary {
  color: #9B9B9B !important;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
